:root {
 /* ——————— Color ——————— */
 --background: #F5F3EF;
 --card: #FFFFFF;
 --accent: #FEBD2F;
 /* Font */
 --text-primary: #000000;
 --text-secondary: #646464;
 /* Other */
 --outline: #DCDCDC;
 
 /* ——————— Typography ——————— */
 /* Fonts */
 --font-family-primary: 'Roboto Serif', serif;
 --font-family-secondary: 'Roboto', sans-serif;
 /* Sizes */
 --font-size-h1: 64px;
 --font-size-mobile-h1: 36px;
 --font-size-h2: 40px;
 --font-size-mobile-h2: 32px;
 --font-size-h3: 24px;
 --font-size-P1: 24px;
 --font-size-P2: 18px;
 --font-size-Button-1: 18px;
 --font-size-Button-2: 16px;
 /* Weights */
 --font-weight-h1: 500;
 --font-weight-h2: 500;
 --font-weight-h3: 700;
 --font-weight-P1: 400;
 --font-weight-P2: 400;
 --font-weight-Button-1: 500;
 --font-weight-Button-2: 500;
 
 /* ——————— Space ——————— */
 --space-8: 10px;
 --space-16: 16px;
 --space-24: 24px;
 --space-32: 32px;
 --space-48: 48px;
 --space-64: 64px;
 --space-96: 96px;
 --space-128: 128px;
 }
 
 
 /* ——————— initial setup ————————— */
 html,
 body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-P2);
  font-weight: var(--font-weight-P2);
  background-color: var(--background);
 }
 
 
 /* ——————— Basic Styles ——————— */
 h1 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
  }
   h2 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
  }
   h3 {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
  }
 
  button {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-button-1);
    font-weight: var(--font-weight-button-1);
    background-color: var(--card);
    padding: var(--space-8) var(--space-24);
    border: 1px solid var(--outline);
    border-radius: var(--space-48);
  }

  button:hover {
    background-color: var(--text-primary);
    color: var(--card);
    cursor: pointer;
  }
 
  p {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-P1);
    font-weight: var(--font-weight-P1);
    color: var(--text-secondary);
  }

   .secondary-p {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-P2);
    font-weight: var(--font-weight-P2);
    color: var(--text-secondary);
  }

   a {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-button-2);
    font-weight: var(--font-weight-Button-2);
    color: var(--text-primary);
    text-decoration: none;
  }
 
 
 
 /* ——————— ________ ——————— ________ ——————— */
  /* ——————— Main Grid ——————— */
 .grid-container {
   padding: 0 var(--space-128);
   max-width: calc(12 * var(--space-128));
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   gap: var(--space-24);
   height: 100%;
   align-content: space-between;
   position: relative;
 }



 /* ——————— Nav ——————— */
   .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / span 6;
    padding: var(--space-24) 0;
    margin-bottom: var(--space-48);
  }
   .nav img {
    height: 40px;
  }
   .nav-links > :nth-child(1){
    margin-right: var(--space-24);
  }
   .nav button {
    font-size: var(--font-size-button-2);
    font-weight: var(--font-weight-button-2);
    background-color: var(--text-primary);
    color: var(--card);
  }

  .nav a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .nav button:hover {
    background-color: var(--card);
    color: var(--text-primary);
    cursor: pointer;
  }


 
 /* ——————— Hero ——————— */
   .hero {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-48);
    grid-column: 1 / span 6;
    margin-bottom: var(--space-96);
  }

   .hero-copy {
    grid-column: 1 / span 3;
  }
   .hero-img {
    grid-column: 4 / span 6;
    justify-self: end;
    align-self: center;
  }
   .hero-img img {
    width: 100%;
    max-width: calc(6 * var(--space-128));
    border-radius: var(--space-48);
  }



 /* ——————— Cards ——————— */
   .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--space-48);
    row-gap: var(--space-64);
    grid-column: 1 / span 6;
    margin-bottom: var(--space-128);
  }

   .card {
    background-color: var(--card);
    padding: var(--space-32) var(--space-48) var(--space-48 ) var(--space-48);
    border-radius: var(--space-48);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    gap: var(--space-16);
  }

  .card-badge {
   color: var(--text-reversed);
   padding: var(--space-8) var(--space-24) var(--space-8) var(--space-16);
   border-radius: var(--space-24) 0 0 var(--space-24);
   position: absolute;
   top: -45px;
   right: var(--space-24);
   z-index: 1;
 }

 .card-badge img {
   width: 70px;
 }

 .highlight {
   background-color: var(--accent);
   padding: var(--space-16) var(--space-64) var(--space-48 ) var(--space-48);
 }



/* ——————— Footer ——————— */
   .footer {
    grid-column: 1 / span 6;
    background-color: var(--accent);
    text-align: center;
    padding: var(--space-24) 0;
  }
   .footer img {
    height: 40px;
  }




/* ––––––– Modal –––––––– */
#target-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms;
  z-index: 9999;
}

#target-content:target {
  pointer-events: all;
  opacity: 1;
}

#target-inner {
  position: absolute;
  display: block;
  padding: var(--space-48);
  width: 70%;
  max-width: calc(4 * var(--space-128));
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  background: var(--background);
  z-index: 9999;
  border-radius: var(--space-48);
}

#target-inner h2 {
  margin-top: 0;
}

a.close {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--accent);
  opacity: 0.5;
  transition: opacity 200ms;
}

a.close:hover {
  opacity: 0.4;
}







 
 /* ——————— Media Queries ——————— */
/* ——————— Smaller font size in hero for smaller Desktop Sizes ———————  */
@media only screen and (min-width: 1271px) and (max-width: 1445px) {
  .hero-copy h1 {
    font-size: 4.1vw;
  }

  .hero-copy p {
    font-size: 20px;
  }
}

/* ——————— Easrly change of card grid, to make it feel more fluent ———————  */
@media only screen and (min-width: 1071px) and (max-width: 1270px) {
  .hero-copy h1 {
    font-size: 4.1vw;
  }

  .hero-copy p {
    font-size: 20px;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

 /* ——————— Tablet ———————  */
 @media only screen and (min-width: 768px) and (max-width: 1070px) {
  .grid-container {
    padding: 0 var(--space-64);
  }

 /* ——————— Nav ———————  */
 .nav {
    margin-bottom: var(--space-24);
}
 /* ——————— Hero ———————  */
 .hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-48);
  margin-bottom: var(--space-64);
}

 .hero-copy {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
 .hero-img {
  align-self: center;
}
 .hero-img img {
  width: 100%;
  max-width: 100%;
  border-radius: var(--space-48);
}

/* ——————— Cards ——————— */
.card-container {
  grid-template-columns: repeat(2, 1fr);
}


}
 




/* ——————— Mobile Nav hidden for desktop & tablet ——————— */
.mobile-nav-container {
  display: none;
}

 /* ——————— Mobile ———————  */
   @media only screen and (max-width: 767px) {
  .grid-container {
    padding: 0 var(--space-24);
  }

 /* ——————— Mobile Nav ———————  */
 .nav {
   display: none;
  }
 
  .mobile-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 90px;
  }
  
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    line-height: var(--space-48);
  }
  
  .mobile-logo {
    position: absolute;
    height: 32px;
    top: var(--space-32);
    left: 50%;
    transform: translate(-50%);
  }
  
  .hamburger {
    background: none;
    position: absolute;
    top: var(--space-16);
    right: 24px;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: var(--text-primary);
    border: 0;
    font-size: var(--space-24);
    cursor: pointer;
    z-index: 999;
  }

  .hamburger:hover {
    background-color: transparent;
    color: var(--text-primary);
  }
  
  .menu-close {
    background: none;
    position: absolute;
    top: var(--space-16);
    right: 24px;
    padding: 5px 18px 0px 15px;
    color: var(--text-primary);
    border: 0;
    font-size: var(--space-48);
    line-height: 56px;
    font-weight: 400;
    cursor: pointer;
    z-index: 1000;
  }

  .menu-close:hover {
    background-color: transparent;
    color: var(--text-primary);
  }
  
  .menu {
    display: inline-block;
    z-index: 999;
    font-weight: 400;
    width: 100%;
    background: transparent;
    position: absolute;
    text-align: center;
    font-size: 12px;
    transform: translateY(var(--space-48));
  }
  
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    background-color: var(--background);
    cursor: pointer;
  }
  
  .menu li {
    display: block;
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
  }
  
  .menu li:hover {
    display: block;
    background-color: var(--accent);
    padding: 15px 0 15px 0;
    border-bottom: #dddddd 1px solid;
  }
  
  .menu ul li a {
    text-decoration: none;
    margin: 0px;
    color: var(--text-primary);
  }

  /*.menu ul > :nth-child(1) {
  }*/
  
  .menu ul li a:hover {
    color: var(--text-primary);
    text-decoration: none;
  }

  .menu a {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-button-2);
    font-weight: var(--font-weight-Button-2);
    color: var(--text-primary);
    text-decoration: none;
    display: block;
    width: 100%;
  }
  
  .menu a:hover {
    text-decoration: none;
    color: var(--text-primary);
  }

  .menu button {
    font-size: var(--font-size-button-2);
    font-weight: var(--font-weight-button-2);
    background-color: var(--text-primary);
    color: var(--card);
  }

  .menu button:hover {
    background-color: var(--card);
    font-weight: var(--font-weight-Button-1);
    color: var(--text-primary);
    cursor: pointer;
  }
  
/* ——————— Hero ———————  */
.hero {
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  margin-bottom: var(--space-32);
}

 .hero-copy {
  text-align: center;
}

.hero-copy h1 {
  font-size: var(--font-size-mobile-h1);
}

.hero-copy p {
  font-size: var(--font-size-P2);
}

 .hero-img {
  align-self: center;
}
 .hero-img img {
  width: 100%;
  border-radius: var(--space-48);
}

/* ——————— Cards ——————— */
.card-container {
  grid-template-columns: 1fr;
}

.card {
  padding: var(--space-32);
  gap: 0;
}

/* ––––––– Modal ––––––– */
#target-inner h2 {
  font-size: var(--font-size-mobile-h2);
}

#target-inner p {
  font-size: var(--font-size-P2);
}


}
