:root {
/* ——————— Color ——————— */
--background: #FFFFFF;
/* Font colors */
--text-primary: #1D1C1C;

/* ——————— Typography ——————— */
/* Fonts */
--font-family-primary: 'Roboto', sans-serif;
/* Sizes */
/* Weights */

/* ——————— Space ——————— */
}


